body {
    font-family:'Raleway';
}


.burger_wrapper{
  display: none;
 }


.wrapper_popup_box {
    max-width:822px ;
   
    max-height: 510px;
}


.btn_popup {
    display: block;
    background: white;
    border-radius: 50px;
    width: 127px;
    height: 46px;
    border: none;
    color: #434AFF;
    text-align: center;
    cursor: pointer;
    line-height: 46px;
   
}

.popup_btn {

    cursor: pointer;
    display: block;
    background: #434AFF;
    border-radius: 50px;
    width: 127px;
    height: 46px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    line-height: 46px;
  
}


.wrapper_popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
   
  
   
}


.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    background: #F8F8FD;
    border-radius: 16px;
    width: 822px;
    height: 510px;
    position: relative;

}

.popup_input {
    width: 400px;
    height: 48px;
    background: rgba(67, 74, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    border: none;
    padding-left: 18px;
    color: rgba(39, 40, 46, 0.5);
}

.popup_text {
    font-size: 10px;
  line-height: 12px;
  color: rgba(39, 40, 46, 0.5);
  margin-bottom: 30px;
}

.poup_title {
    font-size: 32px;
   line-height: 38px;
   color: #27282E;
   text-align: center;
}


#modal:checked~.wrapper_popup {
    display: flex;
  }


  #modal {
      display: none;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}



  
  .welcom_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index:-1;
    width: 1900px;
    height: 1080px;

  }

  .header_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

  }

  header {
    padding: 46px 98px 0px 98px;
    height: 100vh;
    min-height: 600px;
    position: relative;
    overflow: hidden;
  }

  .header_nav {
      display: flex;
  }

  .header_title {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-transform:uppercase;
    color: white;
  }

  .header_nav_link{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-transform: capitalize;
  }


  .header_nav_link:hover{
    color: #A1A1A1;;
  }


  .header_nav_link:nth-of-type(n+2) {
      margin-left: 21px;
  }


  .header_number {
      margin-left: 41px;
  }


  .header_wrapper {
      margin-bottom: 60px;
  }


  .input_header {
    display: none;
  }
  
  
  
  
  .label_hiden {
    margin-right: 20px;
    transition: color 0.6s ease;
    color: white;
  
  }
  
  .label_hiden:hover {
    cursor: pointer;
    color: #A1A1A1;
  }
  
  
  
  .wrapper_accordion_links {
   height: 0;
   overflow: hidden;
   position: absolute;
   top: 50px;
   transition:  height 0.5s ease;
   
  }
  
  
  .accardion_wrapper {
    position: relative;
  }
  
  
  
  .accardion_links {
    display: block;
    margin-bottom: 25px;
    color: white;
    text-decoration: none;
    transition: color 0.6s ease;
    font-size: 15px;
  
  }
  
  
  .accardion_links:hover {
    cursor: pointer;
    color: #A1A1A1;
  }
  
  
  
  #header:checked ~ .wrapper_accordion_links {
    height: 250px;
  }









  h1 {
    font-weight: 300;
    font-size: 62px;
    line-height: 68px;
    color: white;
    margin-bottom: 20px;
  }

  .text_kids {
    font-size: 20px;
    line-height: 28px;
    color: white;
    margin-bottom:54px;
  }


  .you_taught_btn {
    display: block;
    background: #434AFF;
    border-radius: 50px;
    width: 127px;
    height: 46px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    line-height: 46px;
   
}

.section_you_taught {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}


.you_taught_text {
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 40px;
}


.you_taught {
  max-width: 610px;
background: rgba(67, 74, 255, 0.04);
border-radius: 16px;
padding: 50px 85px;
}


.you_taught_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taught_photo {
  margin-bottom:30px ;
}


.taught_name {
  font-size: 26px;
 line-height: 31px;
 margin-bottom: 10px;
}


.taught_top_trener {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #848484;
  margin-bottom: 10px;
}

.taught_top_trener_text {
  font-weight: normal;
 font-size: 15px;
 line-height: 22px;
 margin-bottom: 20px;
}

.taught_link {
  margin-bottom: 40px;
  font-style: normal;
 font-weight: normal;
 font-size: 15px;
 line-height: 22px;
 color: #434AFF;
}

.section_price_trainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
}

.price_title {
  font-weight: normal;
font-size: 32px;
line-height: 38px;
margin-bottom: 40px;
}


.price_trainer_wrapper {
  display: flex;
  justify-content: center;
}

.price_trainer {
  background: #F8F8F8;
 border-radius: 8px;
 padding: 26px 96px 31px 30px;
}

.price_trainer_title {
  font-weight: 500;
 font-size: 20px;
 line-height: 23px;
 margin-bottom: 32px;
}

.price_trainer_text {
  font-weight: 600;
 font-size: 17px;
 line-height: 20px;
 margin-bottom: 16px;
}


.price_trainer_numbers {
  margin-bottom: 8px;
  font-size: 17px;
 line-height: 20px;
}


.price_trainer_numbers_two {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
}



.price_trainer:nth-of-type(n+2) {
  margin-left: 30px;
}

.price_trainer_wrapper {
  margin-bottom: 30px;
}




.secion_training_place {
  background: rgba(67, 74, 255, 0.05);
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}


.training_place_title {
  margin-top: 60px;
  font-size: 32px;
 line-height: 38px;
 margin-bottom: 60px;
}


.training_place_title_span {
  color: #434AFF;
}

.training_place_wrapper {
  display: flex;
}




.training_place_info:nth-of-type(n+2) {
  margin-left: 24px;
}


.taraining_place_text {
  margin-top:16px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

}



.section_study {
  margin-top: 160px;
}


.study_title {
  margin-bottom: 65px;
}

.study_title p {
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  color: #27282E;
}


.you_study {
  color: #434AFF;
}



.section_study_carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}



.study_carousel_wrapper {
  width: 822px ;
  overflow: hidden;
  margin:0 24px ;
  height: 360px;
}

.study_carousel {
  display: flex;
  height: 100%;
}


.study_card {
  display: flex;
  position: relative;
  height: 100%;
  width: 100% ;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  
 
}

.study_card_img{
 position: absolute;
 width: 100% ;
height: 100%;
}


.study_arrow_ride {
  transform: rotate(180deg);
}


.study_card_img_text {
  font-size: 26px;
  line-height: 31px;
  z-index: 1;
  color: #FFFFFF;
  text-indent: 1.0em;
}


.circle_wrraper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 200px;
}




.circle_carousel {
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background: rgba(67, 74, 255, 0.12);


}


.section_teacher_pupils {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 240px;
}

.teacher_pupils_title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 80px;
}

.teacher_pupils_span {
  color: #434AFF;
}

.teacher_pupils_wrapper {
  display: flex;
  justify-content: center;
}

.teacher_reviews {
  display: flex;
  max-width: 458px;
  max-height: 105px;
 
}

.teacher_reviews:nth-of-type(n+2) {
  margin-left: 71px;
}


.teacher_reviews img {
  margin-right: 30px;
}

.teacher_reviews_name {
  font-weight: 500;
 font-size: 20px;
 line-height: 23px;
 margin-top: 7px;
 margin-bottom: 14px;
}

.teacher_reviews_comment {
  font-size: 16px;
 line-height: 24px;
}


.section_have_questions {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.have_questions_title {
  letter-spacing: 0.1em;
  font-size: 32px;
  line-height: 42px;
  font-weight: normal;
  text-indent: 0.4em;
  margin-bottom: 40px;
}

.accordion_input {
  display: none;
}


.accordion_label {
  display: flex;
  max-width:610px;
  max-height: 53px;
  background: rgba(67, 74, 255, 0.04);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 24px;
  transition: max-height .7s ease;
}


.accordion_questions {
  height: 53px;
  line-height: 53px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.01em;
}


.accordion_answer {
  height: 100%;
}


.accordion_ring {
  width: 26px;
 height: 26px;
 background-color: #434AFF;
 border-radius: 50%;
 position: relative;
 transition: transform 0.5s ease;
}


.accordion_img {
  position: absolute;
  top:7px;
  left: 7px;
}


#accordion:checked+.accordion_label {
  max-height: 500px;
}


#accordion:checked+.accordion_label .accordion_ring {
  transform: rotate(45deg);
  background-color: #5b60f5;
}


#accordion_one:checked+.accordion_label {
  max-height: 500px;
}


#accordion_one:checked+.accordion_label .accordion_ring {
  transform: rotate(45deg);
  background-color: #5b60f5;
}



#accordion_two:checked+.accordion_label {
  max-height: 500px;
}


#accordion_two:checked+.accordion_label .accordion_ring {
  transform: rotate(45deg);
  background-color: #5b60f5;
}



#accordion_three:checked+.accordion_label {
  max-height: 500px;
}


#accordion_three:checked+.accordion_label .accordion_ring {
  transform: rotate(45deg);
  background-color: #5b60f5;
}



#accordion_four:checked+.accordion_label {
  max-height: 500px;
}


#accordion_four:checked+.accordion_label .accordion_ring {
  transform: rotate(45deg);
  background-color: #5b60f5;
}



#accordion_five:checked+.accordion_label {
  max-height: 500px;
}


#accordion_five:checked+.accordion_label .accordion_ring {
  transform: rotate(45deg);
  background-color: #5b60f5;
}


.section_social_networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 147px;
}

.social_title {
  margin-bottom:60px;
  font-weight: normal;
 font-size: 32px;
 line-height: 38px;
}

.social_span {
  color:#434AFF;
}


.social_icons_wrapper {
  display: flex;
}


.social_icons_wrapper a {
  height:72px;
  width: 102px;
  background: rgba(67, 74, 255, 0.04);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.social_icons_wrapper a:nth-of-type(n+2){
  margin-left:19px;
}


.section_form_request {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(67, 74, 255, 0.04);
  padding-bottom: 70px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_title {
  font-weight: normal;
 font-size: 32px;
margin-top: 60px;
margin-bottom: 40px;
}

.form_input {
background: rgba(67, 74, 255, 0.1);
border-radius: 8px;
border: none;
width: 400px;
height: 48px;
margin-bottom: 20px;
}

form p {
  font-size: 10px;
 line-height: 12px; 
 margin-bottom: 30px;
}

.form_input_btn {
  background: #434AFF;
 border-radius: 50px;
 padding: 14px 23px;
 border: none;
 color: white;
}

footer {
background: #27282E;
color: white;
padding-top:40px;

display: flex;
justify-content: space-around;
}

footer a {
  color: white;
}

.footer_label {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}

.footer_box {
  display: flex;
  flex-direction: column;
}

.footer_text {
  font-weight: 600;
 font-size: 16px;
 margin-bottom: 14px;
}

.footer_box a {
  margin-bottom: 12px;
  font-size: 13px;
}

.footer_box a:hover {
  color:#898EFF;
}

.footer_address p {
  margin-bottom: 12px;
  font-size: 13px;
}



.footer_directions {
  margin-bottom: 69px;
}




@media (max-width: 1080px) {

  .teacher_pupils_wrapper{
    display: flex;
    flex-direction: column;
  }
  
  .teacher_reviews:nth-of-type(n) {
  margin-left: 0;
  }
  
  .teacher_reviews {
    margin-bottom: 40px;
  }
}




@media (max-width: 1330px) {


  .burger_wrapper{
   display: block;
  }


  .nav_header {
      display: none;
  }



  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
  }
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    position: fixed;
    top: 63px;
    right: 75px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 10;
  }
  .menu-icon:checked + label:before,
  .menu-icon:not(:checked) + label:before{
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 20px;
    z-index: 20;
    top: 0;
    left: 0;
    border-top: 2px solid #ececee;
    border-bottom: 2px solid #ececee;
    transition: border-width 100ms 1500ms ease, 
                top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
                height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
                background-color 200ms ease,
                transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-icon:checked + label:after,
  .menu-icon:not(:checked) + label:after{
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    z-index: 20;
    top: 10px;
    right: 4px;
    background-color: #ececee;
    margin-top: -1px;
    transition: width 100ms 1750ms ease, 
                right 100ms 1750ms ease,
                margin-top 100ms ease, 
                transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-icon:checked + label:before{
    top: 10px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #ececee;
    border-width: 0;
    transition: border-width 100ms 340ms ease, 
                top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
                height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
                background-color 200ms 500ms ease,
                transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-icon:checked + label:after{
    width: 30px;
    margin-top: 0;
    right: 0;
    transform: rotate(-45deg);
    transition: width 100ms ease,
                right 100ms ease,  
                margin-top 100ms 500ms ease, 
                transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .nav{
    position: fixed;
    top: 33px;
    right: 50px;
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    z-index: 9;
    overflow: hidden;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.336), 0px 4px 4px rgba(0, 0, 0, 0.384);
    background-color: rgba(0, 0, 0, 0.747);
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
                right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 250ms 1100ms ease,
                width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
                height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  @keyframes border-transform{
      0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
  }
  
  .menu-icon:checked ~ .nav {
    animation-play-state: paused;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
    transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
                right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 250ms 700ms ease,
                width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
                height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .pt-5 {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
    list-style: none;
  }
  .burger_li {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    list-style: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 250ms linear;
  }
  .burger_li:nth-child(1){
    transition-delay: 250ms;
  }
  .burger_li:nth-child(2){
    transition-delay: 200ms;
  }
  .burger_li:nth-child(3){
    transition-delay: 150ms;
  }
  .burger_li:nth-child(4){
    transition-delay: 100ms;
  }
  .burger_li:nth-child(5){
      transition-delay: 50ms;
    }
  .burger_links{
    font-size: 4vh;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    display: inline-block;
    position: relative;
    color: #ececee;
    transition: all 250ms linear;
  }
  .burger_links:hover{
    text-decoration: none;
    color: #ffeba7;
  }
  .burger_links:after{
    display: block;
    position: absolute;
    top: 50%;
    content: '';
    height: 2vh;
    margin-top: -1vh;
    width: 0;
    left: 0;
    background-color: #353746;
    opacity: 0.8;
    transition: width 250ms linear;
  }
  .burger_links:hover:after{
    width: 100%;
  }
  
  
  .menu-icon:checked ~ .nav .burger_li {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 350ms ease,transform 250ms ease;
  }
  .menu-icon:checked ~ .nav .burger_li:nth-child(1){
    transition-delay: 1400ms;
  }
  .menu-icon:checked ~ .nav .burger_li:nth-child(2){
    transition-delay: 1480ms;
  }
  .menu-icon:checked ~ .nav .burger_li:nth-child(3){
    transition-delay: 1560ms;
  }
  .menu-icon:checked ~ .nav .burger_li:nth-child(4){
    transition-delay: 1640ms;
  }
  .menu-icon:checked ~ .nav .burger_li:nth-child(5){
      transition-delay: 1720ms;
    }
  
  
  
  .wrapper_burger_direction {
      height: 0;
      overflow: hidden;
      transition: height 0.6s ;
  }
  
  .wrapper_burger_direction a{
      font-size: 4vh;
      display: block;
  }
  
  
  #accordion_burger:checked ~ .wrapper_burger_direction {
  height:280px ;
  }
  
  
  
  
  .wrapper_burger_direction {
      display: flex;
      flex-direction: column;
      align-items: center;
  }


  .price_trener {
    flex-wrap: wrap;  
    justify-content: center;
  }

  .price_box {
      margin-bottom: 20px;
  }

}